.App {
  text-align: left;
  background-image: url(images/maya-view2.JPG);
  background-size: 100%;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 30%;
  height: 100%;
  position: fixed;
  float: left;
  z-index: 1; 
  margin-top: 50px;
  display: block;
  /*width: 270px; 
  width: 30%;
  float: left;
  position: fixed;
  z-index: 1; 
  top: 50px;
  left: 50px;
  overflow-x: hidden;
  padding: 8px 0;
  height: 100%;*/
} 

.sidenav li {
  list-style: none; 
  display: inline;
}

.sidenav a {
  font-family: Bahnschrift, DIN, "DIN Alternate", "Roboto Condensed", sans-serif;
  font-size: 30px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  color: white;
  background-color: rgb(233, 15, 15);
  font-stretch: semi-condensed;
  border-style: solid transparent;
  transition: all 0.5s;
  margin: 10% 24% 10% 30%; 
  text-align: left;
}

a:hover {
  color: rgba(233, 15, 15, 1.0);
  background-color: white;
  box-shadow: 0px 5px 50px #921212;
  position: relative;
  transform: scale(1.03);
}

.modeling img:hover {
  position: relative;
  transform: scale(1.05);
  transition: all 0.5s;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 0.9;
  transition: opacity 200ms linear 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 1;
  transition: opacity 200ms linear 200ms;
}

.App-link {
  color: #61dafb;
}


.main {
  float: right;
  height: 100%;
  width: 70%;
  position: relative;
  display: block;
}

.resume, 
.modeling,
.contact {
  padding: 3em 3em 1em 3em;
  background: white;
  border: solid 10px rgba(233, 15, 15, 1.0);
  margin: 5em 15em 3em 3em;
  position: relative; 
  display: block;
  overflow-y: auto;  
  height: 70%;
}

.resume, 
.modeling,
.contact {
  position: absolute;
  left: 0;
  right: 0;
}

.resume > header, 
.modeling > header,
.contact > header {
  display: flex;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  left: -3em;
  margin: -3em 0 3em 0;
  position: relative;
  width: calc(100% + 6em);
}

.resume > header > .title,
.modeling > header > .title,
.contact > header > .title {
  flex-grow: 1;
  padding: 2.75em 2em 0.5em 2em;
}

.resume > header > .title h2 {
  font-weight: 900;
  font-size: 1.5em;
}

h2 {
  font-family: Bahnschrift, DIN, "DIN Alternate", "Roboto Condensed", sans-serif;
  letter-spacing: 0.15em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: none;
  text-align: right;
}

.footer > p {
  color: rgba(233, 15, 15, 1.0);
  font-family: Bahnschrift, DIN, "DIN Alternate", "Roboto Condensed", sans-serif;
  font-size: 15px;
  margin-right: 1em;
  margin-bottom: 0.2em;
}